.outer-grid {
    background-color: #ff7f50; /* Light grey background */
}
.question-label {
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark grey text */
}
.input {
    border: 1px solid #ccc; /* Light grey border */
    padding: 5px;
}
